.navbar{
    background-color: #4169E1;
}
#img1{
    background-image: url(imagens/2.png);
    background-size: cover; 
}
.pd1{
    padding: 5% 2%;
    margin: 0;
}
.h1{
    text-decoration-color: whitesmoke;
}
#img2{
    background-image: url(imagens/4.png);
    background-size: cover;
}
.dim{
    padding: 15% 5%;
    margin: 0%;
}
.tcolor{
    color: #38b6ff;
}
#img3{
    background-image: url(imagens/1.png);
    background-size: cover;
}
.dim2{
    padding: 10% 5%;
    margin: 0%;
}
.tcolor2{
    color: #38b6ff ;
}
#backcolor{
    background-color:#4169E1;
}
.iago{
    margin-bottom: 3% ;
}
.edu{
    margin-top: 1%;
}
.raiva{
    margin-bottom: 7%
}